body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

* {
  box-sizing: inherit; }

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%; }

.row {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap; }

.calcol-1 {
  width: 8.3333333333%;
  padding: 10px;
  float: left; }

.calcol-2 {
  width: 16.6666666667%;
  padding: 10px;
  float: left; }

.calcol-3 {
  width: 25%;
  padding: 10px;
  float: left; }

.calcol-4 {
  width: 33.3333333333%;
  padding: 10px;
  float: left; }

.calcol-5 {
  width: 41.6666666667%;
  padding: 10px;
  float: left; }

.calcol-6 {
  width: 50%;
  padding: 10px;
  float: left; }

.calcol-7 {
  width: 58.3333333333%;
  padding: 10px;
  float: left; }

.calcol-8 {
  width: 66.6666666667%;
  padding: 10px;
  float: left; }

.calcol-9 {
  width: 75%;
  padding: 10px;
  float: left; }

.calcol-10 {
  width: 83.3333333333%;
  padding: 10px;
  float: left; }

.calcol-11 {
  width: 91.6666666667%;
  padding: 10px;
  float: left; }

.calcol-12 {
  width: 100%;
  padding: 10px;
  float: left; }

body {
  font-family: Georgia, serif;
  background: #BC84A6; }

h1 {
  font-size: 2.4em;
  font-family: Helvetica, sans-serif;
  margin: 1em; }

p {
  font-size: 1.4em;
  margin: 1em; }

.center-all {
  display: table; }
  .center-all .center-all__content {
    display: table-cell;
    vertical-align: middle; }
