html {
	height: 100%;
}

body {
	font-family: Georgia, serif;
	background: #BC84A6;
	color: #fff;
	text-align: center;
	line-height: 1.5;
	height: 100%;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 3em;
	font-family: Helvetica, sans-serif;
	margin: .8em 0;
}

h3 {
	font-size: 1.2em;
	margin: 1em 0;
}

.center-all {
	display: table;
	height: 100%;
	width: 100%;
	padding: 4em 0;
	max-width: 60em;


	.center-all__content {
		display: table-cell;
		vertical-align: middle;
	}
}