@import "settings";





// simple settings
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: inherit;
}




// Mixin for generate the grid and any custom grid that you want (can use for generate custom grids that fits your needs)
@mixin generate-grid ($colname: calcol, $n-columns: $n-columns, $max-width: $max-width) {
	.wrapper {
		max-width: $max-width + px;
		width: 100%;
		margin: 0 auto;
	}

	.row {
		@include clearfix;
		margin-left: -$column-gutter + px;
		margin-right: -$column-gutter + px;
		display: flex;
		flex-wrap: wrap;
		flex-flow: row wrap;
	}

	// generate the columns
	@for $i from 1 through $n-columns {
		.#{$colname}-#{$i} {
			width: (((($max-width/$n-columns)*$i)*100)/$max-width) *1%;
			padding: $column-gutter + px;
			float: left;
			// display: inline-block;
		}

		$i: $i+1;
	}
}

// With this we generate the general grid.
@include generate-grid();



// 
// Responsive
// 

// Tablet large
@media (max-width: $tablet-large) {

}

@mixin tablet-large() {
	@media (max-width: $tablet-large) {
		@content;
	}
}

// Tablet small
@media (max-width: $tablet-small) {

}

@mixin tablet-small() {
	@media (max-width: $tablet-small) {
		@content;
	}
}


// Mobile large
@media (max-width: $mobile-large) {

}

@mixin mobile-large() {
	@media (max-width: $mobile-large) {
		@content;
	}
}

// Mobile small
@media (max-width: $mobile-small) {
	
}

@mixin mobile-small() {
	@media (max-width: $mobile-small) {
		@content;
	}
}