@import "calcifer";





// -------------------------------------- //
// ELIMINAR EN UN FUTUR
// -------------------------------------- //

// Nomes per fer proves.

.row {
	margin-bottom: 10px;
}

[class*="calcol-"] {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #ddd;
}

.content {
	background: #eee;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}