// -------------------------------------- //
// MIXINS
// -------------------------------------- //

// Some useful mixins.





// -------------------------------------------------------------------//
// CLEARFIX
// -------------------------------------------------------------------//
@mixin clearfix {
	*zoom: 1;
	clear: both;

	&:before,
	&:after {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}




// -------------------------------------------------------------------//
// RESPONSIVE MIXINS
// -------------------------------------------------------------------//
// *
// Mixins for the responsive styles.
// *

// Tablet large
@mixin tablet-large() {
	@media (max-width: $tablet-large + $default-units) {
		@content;
	}
}

// Tablet small
@mixin tablet-small() {
	@media (max-width: $tablet-small + $default-units) {
		@content;
	}
}

// Mobile large
@mixin mobile-large() {
	@media (max-width: $mobile-large + $default-units) {
		@content;
	}
}

// Mobile small
@mixin mobile-small() {
	@media (max-width: $mobile-small + $default-units) {
		@content;
	}
}