// IMPORTANT: First of all put this <meta> tag on your <header>.
// <meta name="viewport" content="width=device-width, initial-scale=1">






// -------------------------------------------------------------------//
// BASIC SETTINGS
// -------------------------------------------------------------------//
// *
// The basic settings of the grid
//
// [1] - Set witch units whant to use (em, rem or px)
// [2] - If you want to enable 'box-sizing: border-box' dont change this, if not, set it to false.
// [3] - By default flexbox is enabled, if you don't want to use it, set it to false.
// [4] - Set how many columns you want.
// [5] - Set the max width of your grid.
// [6] - Set the column gutter.
// *

// [1] - Default units used
$default-units: em;

// [2] - Box sizing
$border-box: true;

// [3] - Flexbox
$flexbox: true;

// [4] - Number of columns
$n-columns: 12;

// [5] - Max width of the grid.
$max-width: 80;

// [6] - Column gutter.
$column-gutter: 1;





// -------------------------------------------------------------------//
// RESPONSIVE SETTINGS
// -------------------------------------------------------------------//
// *
// Here you can set some custom breakpoints
// *

// Tablet large
$tablet-large: 60;

// Table small
$tablet-small: 48;

// Mobile large
$mobile-large: 30;

// Mobile small
$mobile-small: 20;
