
// -------------------------------------------------------------------//
// BASIC SETTINGS
// -------------------------------------------------------------------//
// *
// The basic settings of the grid
//
// [1] - If you want to enable 'box-sizing: border-box' dont change this, if not, set it to false.
// [2] - By default flexbox is enabled, if you don't want to use it, set it to false.
// [3] - Set how many columns you want.
// [4] - Set the max width of your grid.
// [5] - Set the column gutter.
// *

// [1] - Box sizing
$border-box: true;

// [2] - Flexbox
$flexbox: true;

// [3] - Number of columns
$n-columns: 12;

// [4] - Max width of the grid.
$max-width: 1300;

// [5] - Column gutter.
$column-gutter: 10;





// -------------------------------------------------------------------//
// RESPONSIVE SETTINGS
// -------------------------------------------------------------------//
// *
// Here you can set some custom breakpoints
// *

// Tablet large
$tablet-large: 800;

// Table small
$tablet-small: 500;

// Mobile large
$mobile-large: 400;

// Mobile small
$mobile-small: 300;
